# Ignoring output files
*.o
gs_openmp
gs_seq

# BSK stuff
*~
*.pdf
COPYING
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
configure
openmp_config.h.in
results.csv
.deps/
Makefile
config.log
config.status
*.o
openmp_config.h
stamp-h1
*.dSYM/
lu
ldlt
matprod-r?
slurm-*.out
